<form class="new_tag_form" method="post" action="{% url 'update_tags' %}">{% csrf_token %}
	<ul class="tag_widget_tags {% if user.is_admin %}admin{% endif %}">
	    {% for tag in tags %}
	        <li>{{ tag.title }}</li>
	    {% endfor %}
	</ul>
	{% if user.is_admin %}
	   <input type="hidden" name="tag_content_type_id" value="{{ content_type_id }}" />
	   <input type="hidden" name="tag_object_pk" value="{{ object.pk }}" />
	   <a href="javascript: void(0);" class="tag_save" id="tag_save_{{ forloop.counter }}">Save</a> or <a href="javascript: void(0);" class="tag_clear">Clear</a>
    {% endif %}
</form>